/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12-09-2026, 12:18:44
    Author     : mauricio
*/
/* RESET */
:root {
    --blanco: #FFF;
    --negro: #000;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

/*footer*/
.footer {
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
  font-size: 2.2rem;
  text-align: center;
}
